@media (min-width: 768px){
    /* html,body{
        font-size: 62.5%;
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    } */

    body{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    h1{
        font-size: 3.2rem;
        /* font-weight: 500;
        margin-bottom: 1rem; */
    }

    h2{
        font-size: 1.4rem;
        /* font-weight: 400;
        color: #666; */
        margin-bottom: 1.6rem;
    }

    /* li,p{
        font-size: 1.4rem;
    } */

    header{
        padding: 1rem 0 0 3.2rem;
    }

    #drawer{
        /* display: flex; */
        /* flex-flow: column nowrap;
        justify-content: space-between; */
        flex: 0 1 65%;
        padding: 3rem 3.4rem 0 2rem;
        /* background-color: #fff; */
        /* &::after{
            content: "";
            display: inline-block;
            width: 90px;
            height: 100dvh;
            background-color: #666;
            position: absolute;
            top: 0;
            right: 0;
        } */
        ul{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            column-gap: 5%;
            column-rule-width: 1px;
            column-rule-style: solid;
            column-rule-color: #000;
            
            li{
                font-size: 1.4rem;
                margin-bottom: 0;
            }
        }

        a {
            color: #333;
        }
    }

    main{
        padding: 3.2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        /* h1,h2{
            text-align: center;
        } */

        #touroku{
            flex: 0 1 50%;
            order: 1;
            /* >ul{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin-bottom: 1rem;

                >li{
                    padding: 0.4rem 0;
                    flex: 0 1 26%;
                    text-align: center;
                }
                
                >li:nth-of-type(1){
                    background-color: #5F92FF;
                    color: #fff;
                }
                >li:nth-of-type(2){
                    background-color: #666;
                    color: #fff;
                }
                >li:nth-of-type(3){
                    background-color: #ccc;
                    color: #333;
                }
            } */
            form{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: baseline;
                
                >label{
                    flex: 0 1 17%;
                    display: block;
                    text-align: right;
                }

                >input[type="text"],select{
                    flex: 0 1 80%;
                    padding: 1rem 1.6rem;
                    margin-bottom: 1.6rem;
                    /* width: 100%;
                    background-color: #e6e6e6;
                    border: 1px solid #666;
                    border-radius: 4px;
                    appearance: auto; */

                    &::placeholder{
                        opacity: 0;
                    }
                }
                >select{
                    appearance: base-select;
                }
                
                >div{
                    padding-left: 2.4rem;
                    /* input[type="checkbox"]{
                        appearance: auto;
                    }
                     */
                    /* >label{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 1.2rem;
                        margin-bottom: 1.6rem;
                    } */
                }

                >input[type="submit"]{
                    padding: 1rem 0;
                    display: block;
                    text-align: center;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #fff;
                    background-color: #0170EF;
                    width: 60%;
                    border-radius: 1.2rem;
                    margin: 0 auto;
                }
            }
        }

        #sonota{
            padding: 16dvh 3rem 0 0;
            flex: 0 1 50%;
            display: block;
            order: 0;

            >h2{
                font-size: 2rem;
            }
            >ul{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                gap: 5%;
                >li{
                    flex: 0 1 22%;
                    margin-bottom: 1.6rem;
                    text-align: center;
                    
                }
            }
        }

    }
}